html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.hamburger{
    display: none;
}
button,
nav a,
.carouselDots .dot,
.containerOfCards .card,
.containerOfCards i,
.hero .carouselButton,
.logo{
transition: .2s ease-in-out;
cursor: pointer;
}
button:hover,
nav a:hover,
.carouselDots .dot:hover{
    opacity: .8;
    transform: scale(1.07);
}
button:active,
nav a:active,
.carouselDots .dot:active{
    opacity: 1;
    transform: scale(1);
}
a,
button{
    text-decoration: none;
    color: white;
}
button{
    background: #17daa2;
    outline: none;
    border: none;
    padding: 13px 35px;
    border-radius: 30px;
}
.hero button{
    background: #00b6cb;
}
button:hover{
    transform: scale(1.07);
}
button:active{
    transform: scale(1);
}
header{
    width: 80%;
    margin: 0% 10%;
    display: flex;
    color: white;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    padding: 20px 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.logo{
    padding: 18px;
    font-family: 'Jua', sans-serif;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-weight: 200;
}
.logo span{
    color: #17daa2;
}
section{
    height: 100vh;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    position: relative;
}
.hero .containerCarousel{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero .carouselButton{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 3em;
    color:#00b7cb8f;
    transition: .1s ease-in-out;
}
.hero .carouselButton:hover{
    font-size: 3.3em;
}
.hero .carouselButton:active{
    font-size: 3em;
}
.hero .carouselButton:nth-of-type(1){
    left: 20%;
}
.hero .carouselButton:nth-of-type(2){
    left: 80%;
}
.carouselDots {
    padding: 10px 30px;
    position: absolute;
    left: 50%;
    top: 70%;
    display: flex;
    justify-content: space-evenly;
    transform: translate(-50%,-50%);
}
.carouselDots .dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    z-index: 2;
    background: white;
    display: inline-block;
}
.carouselDots .dot.active{
    background: #00b6cb;
}
.hero{
    background: url("../img/heroimg.jpg") no-repeat 100% 100%;
}
.hero .text{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.hero .text h1,
.hero .text p{
    animation: introHeroText .6s ease-in-out;

}

.hero .text h1,
.about .heading h2{
    font-size: 3em;
}
.hero .text h1{
    font-weight: 200;
    margin-bottom: 20px;
}
.hero .text h1 span{
    font-weight: 700;
}
.hero .text p{
    margin-bottom: 50px;
}
.about .heading{
    margin: 5% 0% 7%;
}
.about .heading h2 {
    font-weight: 200;
}
.about .heading {
    position: relative;
}
.about .heading .dash{
    width: 50px;
    height: 2px;
    background: #17daa2;
    position: absolute;
    left: 50%;
    top: 60%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.containerOfCards{
    margin:5% 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containerOfCards .card{
 padding: 30px;
 width: 270px;
 height: 400px;
}
.containerOfCards .text h3{
    font-weight: 600;
    font-size: 1.4em;
}
.containerOfCards i{
    background: #eeeff1;
    color: #87949d;
    padding: 40px;
    border-radius: 50%;
    font-size: 30px;
    margin-bottom: 8%;
}
.containerOfCards .card:hover i{
    color: white;
    background: #17daa2;
}
.work p,
.about p{
    font-weight: 400;
    line-height: 35px;
    color: #6c7175 ;
}
.work{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    height: 70vh;
    padding-top: 10%;
}

section:nth-of-type(3){
    background: #fafafa;
}
.work .img{
    width: 30%;
    position: relative;
}
.work .text{
width: 30%;
}
.work img{
    position: absolute;
}
section:nth-of-type(3) img {
    left: -10%;
}
.work .text h2{
    font-weight: 400;
    font-size: 2.5em;
}
.work p{
    margin-bottom: 40px;
}
section:nth-of-type(4){
    flex-direction: row-reverse;
}

@keyframes introHeroText{
    0%{
     opacity: 0;
    }
    100%{
     opacity: 1;
    }
}

@media only screen and (max-width: 1500px) {
    .containerOfCards .card{
        padding: 30px;
        width: 200px;
        height: 300px;
       }
    .about{
        height: 120vh;
    }   
    .about .heading{
        margin-top: 0%;
    } 
    .about .heading{
        margin-bottom: 3%;
    } 
    section:nth-of-type(3) img {
        left: -25%;
    }
       section:nth-of-type(4) img {
        left: -20%;
    }
  }
  @media only screen and (max-width: 1280px) {
    .hero .text h1 {
        font-size: 2.5em;
    } 
    .containerOfCards .card{
        padding: 30px;
        width: 180px;
        height: 300px;
       }
  
  }
  @media only screen and (max-width: 1024px){
    nav a{
        padding: 20px;
    }
    .about{
        height: 100vh;
    }  
    .containerOfCards .card{
        padding: 30px;
        width: 250px;
        height: 300px;
       }
     .work{
         padding: 5% 0% 0%;
         height: 50vh;
     }  
     .work img{
         transform: scale(.6);
     }
    section:nth-of-type(3) img{
        left: -45%;
    }
    section:nth-of-type(4) img{
        left: -50%;
    }
     .work .text{
         width: 35%;
     }
   
  }
  @media only screen and (max-width: 800px){
    header{
        width: 90%;
        margin-left: 5%;
    }
    nav a{
        padding: 20px 15px;
    }
    .hero .containerCarousel{
        height: 70%;
    }
    .hero .carouselButton:nth-of-type(1){
        left:10%
    }
    .hero .carouselButton:nth-of-type(2){
        left:90%
    }
    .hero .text{
        width: 75%;
    }
    .hero .text h1{
        font-size: 2.3em;
    }
    .about{
        height: 180vh;
    }
    .containerOfCards .card{
        width: 300px;
    }
    .work{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        height: 90vh;
        padding-top: 10%;
    }  
    .work .text{
        width: 70%;
        margin: 0%;
    }
    .work .img{
        width: 70%;
        margin-bottom: 30%;
    }
    .work .img img{
        left: 0;
    }
    section:nth-child(4) .text{
        margin-left: 0%;
    }
    .work img{
        transform: scale(.8);
    }
  }
  @media only screen and (max-width: 600px){
      nav{
          display: none;
          flex-direction: column;
          margin-top: 12%;
          margin-right:-66% ;
      }
      nav.active{
          display: flex;
      }
      nav a{
          padding: 20px 50px;
          background: #00b6cb;
          margin-bottom: 2px;
          animation-name: dropMenu;
          -webkit-animation-name:dropMenu;
          animation-fill-mode:forwards;
          -webkit-animation-fill-mode:forwards;
          animation-timing-function: ease-in-out;
          -webkit-animation-timing-function: ease-in-out;
      }
     
      nav a:nth-of-type(1){
        animation-duration: 300ms;
        -webkit-animation-duration: 300ms;
      }
      nav a:nth-of-type(2){
        animation-duration: 400ms;
        -webkit-animation-duration: 400ms;
      }
      nav a:nth-of-type(3){
        animation-duration: 500ms;
        -webkit-animation-duration: 500ms;
      }
      nav a:nth-of-type(4){
        animation-duration: 600ms;
        -webkit-animation-duration: 600ms;
      }
      nav a:nth-of-type(5){
        animation-duration: 700ms;
        -webkit-animation-duration: 700ms;
      }
      nav a:nth-of-type(1){
          border-radius: 35px 0 0 0;
      }
      nav a:nth-of-type(5){
          border-radius: 0 0 0 35px;
      }
       .hamburger {
        display: block;
        margin-top: 8px;
        margin-right: 5px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        z-index: 2047;
      }
      
       .hamburger span {
        display: block;
        margin-left: 10px;
        margin-bottom: 5px;
        width: 20px;
        height: 2px;
        background: white;
        -webkit-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
      }
      
      .hamburger span:nth-child(1) {
        margin-top: 12px;
      }
      
      .hamburger span:nth-child(1).active {
        margin-top: 10px;
      }
      
      .hamburger span:nth-child(3) {
        margin-bottom: 0;
      }
      
      .hamburger span:nth-child(2).active {
        opacity: 0;
      }
      
      .hamburger span:nth-child(3).active {
        -webkit-transform: translateY(-10px) rotate(45deg);
                transform: translateY(-10px) rotate(45deg);
        margin-top: 11px;
      }
      
      .hamburger span.active {
        -webkit-transform: translateY(10px) rotate(-45deg);
                transform: translateY(10px) rotate(-45deg);
      }
      .about .heading .dash{
          top: 45%;
      }
      
  }
  @media only screen and (max-width: 550px){
    
    nav{
        margin-right:-61% ;
        z-index: 22;
    }
   
  }
  @keyframes dropMenu {
    0%{
      opacity: 0;
      transform:rotate(60deg) translateX(-500px);
    }
    100%{
      opacity: 1;
      transform:rotate(0deg) translateX(0px);
    }
  }