html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
button,
nav a,
.carouselDots .dot,
.containerOfCards .card,
.containerOfCards i,
.hero .carouselButton,
.logo{
transition: .2s ease-in-out;
cursor: pointer;
}
button:hover,
nav a:hover,
.carouselDots .dot:hover{
    opacity: .8;
    transform: scale(1.07);
}
button:active,
nav a:active,
.carouselDots .dot:active{
    opacity: 1;
    transform: scale(1);
}
a,
button{
    text-decoration: none;
    color: white;
}
button{
    background: #17daa2;
    outline: none;
    border: none;
    padding: 13px 35px;
    border-radius: 30px;
}
.hero button{
    background: #00b6cb;
}
button:hover{
    transform: scale(1.07);
}
button:active{
    transform: scale(1);
}
header{
    width: 80%;
    margin: 0% 10%;
    display: flex;
    color: white;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    padding: 20px 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.logo{
    padding: 18px;
    font-family: 'Jua', sans-serif;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-weight: 200;
}
.logo span{
    color: #17daa2;
}
section{
    height: 100vh;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    position: relative;
}
.hero .containerCarousel{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero .carouselButton{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 3em;
    color:#00b7cb8f;
    transition: .1s ease-in-out;
}
.hero .carouselButton:hover{
    font-size: 3.3em;
}
.hero .carouselButton:active{
    font-size: 3em;
}
.hero .carouselButton:nth-of-type(1){
    left: 20%;
}
.hero .carouselButton:nth-of-type(2){
    left: 80%;
}
.carouselDots {
    padding: 10px 30px;
    position: absolute;
    left: 50%;
    top: 70%;
    display: flex;
    justify-content: space-evenly;
    transform: translate(-50%,-50%);
}
.carouselDots .dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    z-index: 2;
    background: white;
    display: inline-block;
}
.carouselDots .dot.active{
    background: #00b6cb;
}
.hero{
    background: url("../img/heroimg.jpg") no-repeat 100% 100%;
}
.hero .text{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.hero .text h1,
.hero .text p{
    animation: introHeroText .6s ease-in-out;

}

.hero .text h1,
.about .heading h2{
    font-size: 3em;
}
.hero .text h1{
    font-weight: 200;
    margin-bottom: 20px;
}
.hero .text h1 span{
    font-weight: 700;
}
.hero .text p{
    margin-bottom: 50px;
}
.about .heading{
    margin: 5% 0% 7%;
}
.about .heading h2 {
    font-weight: 200;
}
.about .heading .dash{
    width: 50px;
    height: 2px;
    background: #17daa2;
    position: absolute;
    left: 50%;
    top: 18%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.containerOfCards{
    margin:5% 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containerOfCards .card{
 padding: 30px;
 margin-right: 3%;
 width: 270px;
 height: 400px;
}
.containerOfCards .text h3{
    font-weight: 600;
    font-size: 1.4em;
}
.containerOfCards i{
    background: #eeeff1;
    color: #87949d;
    padding: 40px;
    border-radius: 50%;
    font-size: 30px;
    margin-bottom: 8%;
}
.containerOfCards .card:hover i{
    color: white;
    background: #17daa2;
}
.work p,
.about p{
    font-weight: 400;
    line-height: 35px;
    color: #6c7175 ;
}
.work{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    height: 100vh;
    padding: 10% 0% 5%;
}

section:nth-of-type(3){
    background: #fafafa;
}
.work .text{
width: 30%;
}
.work .text h2{
    font-weight: 400;
    font-size: 2.5em;
}
.work p{
    margin-bottom: 40px;
}
section:nth-of-type(4){
    flex-direction: row-reverse;
}

@keyframes introHeroText{
    0%{
     opacity: 0;
    }
    100%{
     opacity: 1;
    }
}